.hero {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  height: auto;
  width: 1200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.heroH1 {
  width: 100%;
  font-size: 3.8rem;
  font-weight: 600;
  background-image: linear-gradient(to left, rgb(13, 11, 81), rgb(2, 7, 161));
  color: transparent;
  background-clip: text;
}

.heroText {
  font-size: 1rem;
  margin-bottom: 20px;
}

.imgHero {
  max-width: 43rem;
  height: auto;
  margin-left: auto;
  border-radius: 200px 220px 0px 0px;
  margin-right: 0;
}

.heroContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 90%;
  padding: 10px;
  text-align: left;
  left: 10;
}

.formFlex {
  text-align: left;
}


.heroButton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  width: 15rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  margin-left: 20px;
  font-weight: 500;
}

.heroButton:hover {
  background-color: #2d3748;
  color: #ffffff; 
}
