.CourseContainer{
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.plusButton{
    text-align: center;
}
.inputs {
  width: 100%;
  padding: 7px 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.FirstContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.FirstContainer label {
  width: 40%;
}

.FirstContainer .checkboxLabel {
  width: 20%;
}

.MiddleContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.MiddleContainer label {
  width: 82%;
}

.MiddleContainer .checkboxLabel {
  width: 20%;
}

.checkboxLabel {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.checkboxInput {
  margin-top: 10px;
  align-items: center;
  width: 25px;
  height: 25px;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
  color: #555;
}

h1 {
  text-align: center;
}

.ModalForm {
  display: flex;
  flex-direction: column;
}

.ModalFormFlex {
  display: flex;
  justify-content: space-between;
}

.NameRow {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.ProfileImageContainer {
  position: relative;
  cursor: pointer;
}

.ProfileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.ProfileImageInput {
  display: none;
}

.FormLabelContainer {
  display: flex;
  justify-content: space-between;
}

.FormLabel {
  flex: 1;
  margin-right: 10px;
}

.FormSelect,
.FormInput {
  width: 100%;
}

.FormRow {
  display: flex;
  justify-content: space-between;
}

.ContactInfo {
  margin-top: 10px;
}

.LanguageButtons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.deleteButton {
  text-align: right;
  justify-content: end;
  float: right;
}

.yearFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.yearFlex label {
  width: 49%;
}

.textP {
  font-weight: 700;
}
